
.ctl-behance-importer-lite-icon-briefcase:before { content: '\e800'; } /* '' */
.ctl-behance-importer-lite-icon-arrow-combo:before { content: '\e801'; } /* '' */
.ctl-behance-importer-lite-icon-link:before { content: '\e802'; } /* '' */
.ctl-behance-importer-lite-icon-arrows-cw:before { content: '\e803'; } /* '' */
.ctl-behance-importer-lite-icon-link-ext:before { content: '\f08e'; } /* '' */
.ctl-behance-importer-lite-icon-search:before { content: '\f50d'; } /* '' */